* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  text-align: center;
  margin-top: 200px;
}

circle {
	stroke-dasharray: 360;
  animation-name: circle;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes circle {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 360;
	}
}